<div class="app-component" role="banner">
  <div class="app-component__navbar">
    <span (click)="scroll(main)" class="app-component__navbar-title" data-text="< Michał Wolanin />">&lt; Michał Wolanin /&gt;</span>
    <div class="app-component__navbar-buttons">
      <div (click)="scroll(skills)" class="button">Skills</div>
      <div (click)="scroll(skills)" class="button">Projects</div>
      <div (click)="scroll(education)" class="button">Education</div>
      <div style="cursor: pointer" (click)="scroll(contact)">Contact Me</div>
  </div>

  <div class="app-component__container" #main>
    <div class="app-component__main">
      <div class="app-component__content">
        <div class="app-component__welcome">Hi all, I'm Michał 👋</div>
        <p class="app-component__description">A passionate Frontend Developer 🚀 having
           an experience of building Web applications
           with TypeScript / Angular / Sass  and some
           other cool libraries and frameworks.</p>
        <div>
          <a href="https://github.com/MichalWolanin"><img src="./assets/icons/github.png" alt="github" class="app-component__social-icons"></a>
          <a href="https://www.linkedin.com/in/michal-wolanin/"><img src="./assets/icons/linkedin.png" alt="linkedin" class="app-component__social-icons"></a>
          <a href="https://twitter.com/Michael_wolanin"><img src="./assets/icons/X.png" alt="X" class="app-component__social-icons"></a>
          <a href="https://www.instagram.com/michal_wolanin/"><img src="./assets/icons/instagram.png" alt="instagram" class="app-component__social-icons"></a>
        </div>
        <div>
          <button (click)="scroll(contact)" class="app-component__contact-button"> CONTACT ME </button>
        </div>
      </div>
      <img src="./assets/images/profilowe.png" alt="profil" class="app-component__photo">
    </div>
    <div class="app-component__skills" #skills>
      <div class="app-component__skills-left">
        <div class="app-component__skills-title">What I do</div>
        <div class="app-component__skills-images">
          <img src="./assets/icons/html.png" alt="html" class="app-component__environments">
          <img src="./assets/icons/sass.png" alt="sass" class="app-component__environments">
          <img src="./assets/icons/angular.png" alt="angular" class="app-component__environments">
          <img src="./assets/icons/ts.png" alt="typescript" class="app-component__environments">
        </div>
        <div class="app-component__skills-text-container">
          <p class="app-component__skills-text">🔥 Develop highly interactive Front end / User
            <br> Interfaces for your web applications</p>
          <p class="app-component__skills-text">🔥 Integration of third party services such
            <br> as Firebase</p>
        </div>
      </div>
      <div class="app-component__skills-right">
        <div class="app-component__skills-basic">Basic knowledge</div>
        <div class="app-component__skills-basic-images">
          <img src="./assets/icons/c++.png" alt="c++" class="app-component__environments">
          <!--todo: change flutter icon-->
          <img src="./assets/icons/flutter.png" alt="flutter" class="app-component__environments">
        </div>
      </div>
    </div>
    <app-projects></app-projects>

    <div class="app-component__education" #education>
      <div>
        <div class="app-component__education-title">Education</div>
        <img src="./assets/images/kul.png" alt="Katolicki Uniwersytet Lubelski" class="app-component__education-image">
        <div class="app-component__education-main-text">John Paul II Catholic University of Lublin</div>
        <div class="app-component__education-text">Computer Science</div>
        <div class="app-component__education-text">October 2021 - Currently</div>
        <div class="app-component__education-main-text">Member of the students association
          <br>of computer science</div>
      </div>
      <div>
        <div class="app-component__education-title">Experience</div>
        <img src="./assets/images/ttms.jpg" alt="Transition Technologies MS" class="app-component__experience-image">
        <div class="app-component__education-certificates-text">TTMS - FRONTEND DEVELOPER </div>
        <div class="app-component__education-certificates-text">January 2022 - Currently </div>
      </div>
    </div>
    <div class="app-component__contact" #contact>
      <div>
        <div class="app-component__contact-title">Contact Me!</div>
          <div class="app-component__contact-location">
            <div class="app-component__contact-location-place"><img src="./assets/icons/localization.png" alt="lokalizacja">Lublin, Poland</div>
              <div class="app-component__contact-location-images">
                <a href="https://github.com/MichalWolanin"><img src="./assets/icons/github.png" alt="github" class="app-component__social-icons"></a>
                <a href="https://www.linkedin.com/in/michal-wolanin/"><img src="./assets/icons/linkedin.png" alt="linkedin" class="app-component__social-icons"></a>
                <a href="https://twitter.com/Michael_wolanin"><img src="./assets/icons/X.png" alt="X" class="app-component__social-icons"></a>
                <a href="mailto:michalwolanin02@gmail.com"><img src="./assets/icons/gmail.png" alt="gmail" class="app-component__social-icons"></a>
              </div>
          </div>
      </div>
      <div>
        <img src="./assets/images/end.png" class="app-component__contact-end">
      </div>
    </div>
  </div>
</div>
</div>
