@import 'src/css/mixins';

.app-component {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #171C28;


  .app-component__navbar {
    width: 100%;
    height: 16.5%;
    display: flex;
    justify-content: center;

    @include desktop {
      width: 100%;
      height: unset;
      display: unset;
      justify-content: unset;
    }
  }

  .app-component__navbar-title {
    position: absolute;
    height: 149px;
    margin-left: unset;
    display: flex;
    align-items: center;
    font-family: 'Vujahday Script', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;

    @include desktop {
      position: absolute;
      height: 149px;
      margin-left: 55px;
      display: flex;
      align-items: center;
      font-family: 'Vujahday Script', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 50px;
      line-height: 53px;
      text-align: center;
      color: #FFFFFF;
    }
  }

  .app-component__navbar-buttons {
    display: none;

    @include desktop {
      width: 100%;
      font-size: 27px;
      color: #FFFFFF;
      display: flex;
      position: absolute;
      box-sizing: border-box;
      justify-content: flex-end;
      padding-right: 6.25%;
      padding-top: 63px;
      font-family: "Montserrat", serif;
    }
  }

  .button {
    margin-right: 44px;
    cursor: pointer;
  }

  .app-component__container {
    background-color: #171C28;
  }

  .app-component__main {
    display: flex;
    width: 375px;
    margin: 200px auto;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", serif;
    color: #FFFFFF;

    @include desktop {
      display: flex;
      width: unset;
      margin: 82px auto 32px;
      padding: unset;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: "Montserrat", serif;
      color: #FFFFFF;
    }
  }

  .app-component__welcome {
    font-size: 30px;
    padding-bottom: unset;
    display: flex;
    justify-content: center;

    @include desktop {
      font-size: 70px;
      padding-bottom: 30px;
    }
  }

  .app-component__content {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      margin-top: 12%;
      margin-left: 55px;
      display: flex;
      align-items: flex-start;
    }
  }

  .app-component__description {
    font-size: 20px;
    font-style: normal;
    text-align: center;
    width: 300px;
    line-height: 24px;
    letter-spacing: 0.6px;

    @include desktop {
      font-size: 30px;
      text-align: left;
      line-height: unset;
      width: 750px;
    }
  }

  .app-component__social-icons {
    height: 36px;
    margin-right: 15px;

    @include desktop {
      height: 36px;
      margin-right: 37px;
    }
  }

  .app-component__contact-button {
    width: 230px;
    height: 60px;
    margin-top: 73px;
    border-radius: 10px;
    background-color: #55198B;
    color: #FFFFFF;
    font-family: "Montserrat", serif;
    font-size: 23px;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }

  .app-component__photo {
    border-radius: 500px;
    width: 200px;

    @include desktop {
      border-radius: 500px;
      width: 349px;
      margin-right: 90px;
    }
  }

  .app-component__skills {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      margin-top: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
  }

  .app-component__skills-right {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @include desktop {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
    }
  }

  .app-component__skills-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 375px;

    @include desktop {
      margin-left: unset;
      align-items: unset;
      width: unset;
    }
  }

  .app-component__skills-title {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "Montserrat", serif;

    @include desktop {
      font-size: 64px;
      color: #FFFFFF;
      font-family: "Montserrat", serif;
    }
  }

  .app-component__skills-text {
    font-size: 23px;
    color: #FFFFFF;
    font-family: "Montserrat", serif;
    margin-top: 25px;
    margin-left: 20px;
  }

  .app-component__skills-text-container {
    width: 375px;
  }

  .app-component__skills-basic {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "Montserrat", serif;
  }

  .app-component__skills-images {
    width: 375px;

    @include desktop {
      width: 600px;
    }
  }

  .app-component__environments {
    margin: 8px;
    height: 55px;

    @include desktop {
      margin: 12px;
      height: 55px;
    }
  }

  .app-component__skills-basic-images {
    margin-top: 35px;
  }

  .app-component__projects {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
    }
  }

  .app-component__projects-title {
    margin-left: unset;
    font-size: 64px;
    color: #FFFFFF;
    font-family: "Montserrat", serif;

    @include desktop {
      margin-left: 60px;
      font-size: 64px;
      color: #FFFFFF;
      font-family: "Montserrat", serif;
    }
  }

  .app-component__projects-container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include desktop {
      margin-top: 75px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  .app-component__projects-container-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 440px;
    left: 55px;
    top: 307px;
    margin-bottom: 20px;

    background: #171C28;
    mix-blend-mode: screen;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 600px;
      height: 500px;
      left: 55px;
      top: 307px;
      margin-bottom: unset;

      background: #171C28;
      mix-blend-mode: screen;
      border: 1px solid #000000;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
    }
  }

  .app-component__projects-container-app-image {
    width: 300px;
    height: 300px;
    margin-top: 30px;

    @include desktop {
      width: 400px;
      height: 350px;
      margin-top: 30px;
    }
  }

  .app-component__projects-container-app-btn {
    width: 230px;
    height: 60px;
    border-radius: 10px;
    margin-top: 25px;
    background: #55198B;
    font-family: "Montserrat", serif;
    font-size: 23px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
  }

  .app-component__education {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    margin-top: 20%;
    margin-left: 50px;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: unset;
      margin-top: 20%;
      margin-left: 0px;
    }
  }

  .app-component__education-title {
    font-size: 40px;
    color: #FFFFFF;
    font-family: "Montserrat", serif;
    margin-top: 20px;

    @include desktop {
      font-size: 64px;
      color: #FFFFFF;
      font-family: "Montserrat", serif;
      margin-top: 20px;
    }
  }

  .app-component__education-image {
    margin-top: 20px;
    width: 250px;

    @include desktop {
      margin-top: 55px;
      width: unset;
    }
  }

  .app-component__education-main-text {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Montserrat", serif;

    @include desktop {
      margin-top: 65px;
      font-size: 27px;
      font-weight: 700;
      color: #FFFFFF;
      font-family: "Montserrat", serif;
    }
  }

  .app-component__education-text {
    margin-top: 30px;
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Montserrat", serif;

    @include desktop {
      margin-top: 30px;
      font-size: 23px;
      color: #FFFFFF;
      font-family: "Montserrat", serif;
    }
  }

  .app-component__education-certificates-text {
    margin-top: 30px;
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Montserrat", serif;

    @include desktop {
      margin-top: 70px;
      font-size: 27px;
      color: #FFFFFF;
      font-family: "Montserrat", serif;
    }
  }

  .app-component__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20%;
    margin-bottom: 15%;

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      margin-top: 20%;
      margin-bottom: 15%;
    }
  }

  .app-component__contact-title {
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Montserrat", serif;

    @include desktop {
      font-size: 64px;
      font-weight: 700;
      color: #FFFFFF;
      font-family: "Montserrat", serif;
    }
  }

  .app-component__contact-location {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 200px;

    @include desktop {
      display: flex;
      flex-direction: column;
      margin-top: 150px;
      margin-bottom: 200px;
    }
  }

  .app-component__contact-location-place {
    font-size: 27px;
    font-weight: 700;
    margin-left: unset;
    color: #FFFFFF;
    font-family: "Montserrat", serif;

    @include desktop {
      font-size: 27px;
      font-weight: 700;
      margin-left: 10px;
      color: #FFFFFF;
      font-family: "Montserrat", serif;
    }
  }

  .app-component__contact-location-images {
    margin-top: 30px;

    @include desktop {
      margin-top: 80px;
    }
  }

  .app-component__contact-end {
    display: none;

    @include desktop {
      width: 350px;
      margin-top: 5%;
      display: flex;
    }
  }
}

