<div class="app-project__projects-container-app">
  <span class="app-project__projects-titles">IP Address Tracker</span>
  <div class="app-project__stack-container">
    <div class="app-project__tech-stack">angular</div>
    <div class="app-project__tech-stack">ts</div>
    <div class="app-project__tech-stack">api</div>
    <div class="app-project__tech-stack">mobile first</div>
    <div class="app-project__tech-stack">bem</div>
    <div class="app-project__tech-stack">clean code</div>
  </div>
  <img src="./assets/images/szkola.png" alt="Publiczna Szkoła Podstawowa im. Ofiar Katynia w Potoku Wielkim" class="app-project__projects-container-app-image">
  <button class="app-project__projects-container-app-btn">Visit Website</button>
</div>
